.jumbotron {
    text-align: center;

}

.container {
    
}


#footer {
    text-align: center;
}

.col-md-2 {
    border-style: solid;
    border-color: antiquewhite;
    height: 75px;
    text-align: center;
}

.col-md-9 {
    border-style:  solid;
    border-color: antiquewhite;
    height: 75px;
}

#save {
    width: 100%;
    text-align: center;
}

.col-md-1 {
    padding-left: 1px;
    text-align: center;
   
}